body {
    font-family: Arial;
    background: #f5f7fb;
}

.container {
    width: 800px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 5px;
}

.result {
    margin-top: 30px;
    background: #eef2ff;
    padding: 20px;
    border-radius: 8px;
}
